<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862736860065-7g0fii784drvgurf66karpuo8nfnol91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862736860065-7g0fii784drvgurf66karpuo8nfnol91</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>862736860065-mrjn3dlvjei9o58p7a9sp3oneu2cta15.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBfls9dTRli9x3kRxzWH9rgW8qqkF51fKE</string>
	<key>GCM_SENDER_ID</key>
	<string>862736860065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miittisoftwareoy.miittiApp</string>
	<key>PROJECT_ID</key>
	<string>miittiapp-8182e</string>
	<key>STORAGE_BUCKET</key>
	<string>miittiapp-8182e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862736860065:ios:a48026634ada06717701e0</string>
</dict>
</plist>